<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>test</title>
    <script src="/jquery.js" type="text/javascript"></script>
    <script src="/chart.js" type="text/javascript"></script>
</head>

<body>
    <div>
        <canvas id="canvas" width="893" height="446"></canvas>
    </div>
</body>
<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };

    const Humidity = [{{ Humidity }}];
    const Minute = [{{{ Minute }}}];
    const Temperature = [{{ Temperature }}];

    var lineChartData = {
        labels: Minute,
        datasets: [
            {
                label: "Humidity",
                borderColor: window.chartColors.red,
                backgroundColor: window.chartColors.red,
                fill: false,
                data: Humidity,
                yAxisID: "y",
                tension: 0.4,
            },
            {
                label: "Temperature",
                borderColor: window.chartColors.blue,
                backgroundColor: window.chartColors.blue,
                fill: false,
                data: Temperature,
                yAxisID: "y2",
                tension: 0.4
            }
        ]
    };

    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        const graph = new Chart(ctx, {
            type: "line",
            data: lineChartData,
            options: {
                responsive: true,
                stacked: false,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                title: {
                    display: true,
                    text: 'Climate'
                },
                scales: {
                    y: {
                        type: "linear",
                        display: true,
                        position: "left",
                        id: "y-Humidity",
                        min: 20,
                        max: 80,
                    },
                    y1: {
                        type: "linear",
                        display: true,
                        position: "right",
                        id: "y-Temperature",
                        min: 15,
                        max: 40,
                        gridLines: {
                            drawOnChartArea: false,
                        },
                    }
                }
            }
        });
    };
</script>

</html>